<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://domythingsincontainer.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b209133-0c34-41f5-8e44-d82e0eb3b7fc/resourceGroups/common-resources/providers/Microsoft.Web/sites/DoMyThingsInContainer</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/0b209133-0c34-41f5-8e44-d82e0eb3b7fc/resourcegroups/common-resources/providers/Microsoft.ContainerRegistry/registries/DoMyThingFunctionsContainerRegistry</ContainerResourceId>
    <ContainerResourceName>DoMyThingFunctionsContainerRegistry</ContainerResourceName>
    <Subscription>Visual Studio Enterprise Subscription</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>domythingfunctionscontainerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>