<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://domythingfunctions-fn.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/0b209133-0c34-41f5-8e44-d82e0eb3b7fc/resourceGroups/common-resources/providers/Microsoft.Web/sites/DoMyThingFunctions-fn</ResourceId>
    <UserName>$DoMyThingFunctions-fn</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://domythingfunctions-fn.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>